body {
    background-color: #a367af;
    color: #ffffff;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__inner {
    max-width: 1000px;
    width: 100%;
    text-align: center;
}

.heading-container {
    padding-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}